.text-style {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.text-style-RED {
  color: white;
}
.course {
  display: flex;
  flex-direction: column;
}

.courseIMG {
  height: 200px; /* set image width to 25%      */
  width: 200px; /* set image height to 25%     */
  color: white; /* make text color white       */
  margin: 10px; /* add margin to image         */
}

button {
  font-size: calc(14px + 0.5vmin);
  background-color: #01579b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.courses-container {
  margin-right: 5vw;
  margin-top: 10px;
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
