.incomplete {
  color: white;
  background-color: #9b0101;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.description-style {
  color: white;
}

.lessons {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-right: 5vw;
  margin-top: 10px;
  margin-left: 5vw;
  justify-content: space-between;
  flex-wrap: wrap;
}

.complete {
  color: white;
  background-color: blueviolet;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
