html {
  font-family: "Times New Roman", Times, serif;
}
body {
  margin: 0;
  background-color: rgb(44, 42, 42);
}
header {
  background: rgb(25, 24, 24);
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
article {
  padding: 40px;
  margin: 40px;
  color: white;
  background: rgb(69, 99, 175);
}
