.bg-java {
  background-color: #52809f !important;
}
.bg-cSharp {
  background-color: #953dac !important;
}
.bg-python {
  background-color: #ffe364 !important;
}
.bg-sql {
  background-color: #e38e00 !important;
}
